.ISOKDFOIJDJD{
    width: 97%;
    margin:15px auto;
    opacity: 0.8;
    background-color:#f3e6aa;
    border: 1px solid #efc411;
    border-radius: 5px;
    color:#7e670d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    font-size: 18px;
}

.icon_SUFDJUIsIHS{font-size:30px;color:#efc411;margin:0px 15px;}
.icon_SUHS{font-size:30px;color:#bc3a2c;margin:0px 15px;}
.caution_HSUHUD{
    width: 97%;
    margin:15px auto;
    opacity: 0.3;
    background-color:#f5cdca;
    border: 1px solid #b27875;
    border-radius: 5px;
    color:#bc3a2c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:15px;
    
}