.bridge__container{
    margin-top:150px;
    width:100%;


}

.bridge__container_box{
    width: 100%;
}

.jAVvRy {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    border-radius: 12px;
    // background: linear-gradient(#1f1b41 0%, #110f24 100%);
    border: 1px solid #25214f;
    background: #0e0c1d;
    width: 100%;
}

.cauxVV {
    border-radius: 12px;
    // background-color: var(--color-basic-1);
    width: initial;
}

.span__SUAHUIhIQW{
    font-size:14px;
    color:#575188;
}

.btn__msxSHUSHDUIWDE{margin:0px 15px;color:#25214f;background: transparent;border: 0px;}

.Networks__ComingSoon__SHJUHAUS{
    opacity: 0.15;
}

.fMTTav {
    display: flex;
    flex-flow: row;
    -webkit-box-align: center;
    align-items: center;
    padding: 1rem 1rem 0.75rem;
}

// .bridge__SOPASKPAOS{display: flex;

// .bridge__child_SOPASKPAOS{
//     flex:7;
// }}

.hDctQE {
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    z-index: 1;
    will-change: transform;
    transition: transform 450ms ease 0s;
    transform: perspective(1px) translateZ(0px);
    -webkit-box-align: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    background-color: #0e0c1d;
    color: rgb(0, 0, 0);
    border-radius: 12px;
    // box-shadow: var(--shadow-basic-3);
    outline: none;
    cursor: pointer;
    user-select: none;
    border: none;
    height: 44px;
    width: initial;
    padding: 0px 4px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    // margin-right: 12px;
}

.iyIEoz {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.uWOqW {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    padding: 0px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: fit-content;
}

.kotaxM {
    width: 32px;
    height: 32px;
    margin-right:15px;
}

.dbsTEZ {
    margin: 0px;
    font-size: 24px;
    font-weight: 600;
    color:#FFF;
    margin-right: 15px;
}

.text-basic-9 {
    // color: #1d273d;
    color: var(--color-basic-9); 
}

.fsxHxP {
    color: #FFF;
    width: 0px;
    position: relative;
    font-weight: 700;
    outline: none;
    border: none;
    flex: 1 1 auto;
    background-color: #0e0c1d;
    
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px;
    appearance: textfield;
    text-align: right;
}

.MsItq {
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 0.75rem;
    line-height: 1rem;
    // padding: 0px 1rem 1rem;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.epDTIA {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    display: flex;
    padding: 0px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: center;
}

.HSUOKDFNPEM{
    font-size:16px;
    display: flex;
    justify-content: start;
    margin: 5px 15px;
    flex-direction: row;
    color:#575188
}
.icon_SUHS{font-size:30px;color:#bc3a2c;margin:0px 15px;}
.caution_HSUHUD{
    width: 97%;
    margin:15px auto;
    opacity: 0.3;
    background-color:#f5cdca;
    border: 1px solid #b27875;
    border-radius: 5px;
    color:#bc3a2c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:15px;
    
}


.jAVvR2y {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    border-radius: 12px;
    background: #0e0c1d;
    width: 100%;
}

.css-djrxae {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 400;
    font-size: 14px;
    color: rgb(195, 197, 203);
}

.jXPLWU {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    // background-color: #0e0c1d;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 16px 20px;
    height: 72px;
    display: grid;
    grid-template-columns: auto minmax(auto, 1fr) auto minmax(0px, 72px);
    gap: 16px;
    pointer-events: none;
    // opacity: 0.5;
    margin-top:5px;
    cursor: pointer;
}

.f8fa9wf8awf{
    background-color: #0e0c1d;
    opacity: 0.2;
    cursor:default;
}

.jXPLWUf88fwa{
    display: block;
    background-color: #0e0c1d;
    color:#FFF;
    text-decoration: none;
}
.jXPLWUf88fwa:hover{
    background-color: #322d57;
    color:#FFF;
}

.jAV23vRy {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    border-radius: 12px;
    border: 1px solid #25214f;
    background: #0e0c1d;
    margin-right:15px;
    // width: 100%;
    // justify-content: space-between;
}

.jAV23vRy+.jAV23vRy{
    margin-left: 5px;
   }

   .L8awf9aw8f{
       margin: 0px 15px;
   }

   .icons{color:#FFF;font-size: 14px;}


.fMTTarfawv {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    // justify-content: center;
    padding: 1rem 1rem 0.75rem;
}


.fTQuos {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.css-193chej {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 600;
    color: var(--color-gray-100);
}

.css-cm9dpx {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 400;
    color: var(--color-gray-100);
    font-size: 12px;
}

.dauwyuw89aw {
    // background-color: #240f0f;
    color: red;
}

.dZAyIfhushis {
    background: linear-gradient(#411b1b 0%, #240f0f 100%);
    color: white;
    align-items: center;
    font-size: 0.8rem;
    justify-content: space-evenly;
}

.Label__JHUDhIDHIu{
    margin-left: 1rem;
}
.Label__JHUDFUHFhIDHIu{
    display: none;
    justify-content: end;
    margin-right: 2rem;
    color: #F00;

}

.Bridge__HYUOIEIKDF{
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.btn__risks{
    color:#FFF;
    padding:5px;
    margin:0px 15px;
    background-color: #bc3a2c;
    border-radius: 5;
    border: 1px solid #350702;
}