.button__SHUGFHDIDSJGDF{
    width: inherit !important;
}


.input__HUSHUFOSNWB {
    color: #FFF;
    width: 0px;
    position: relative;
    font-weight: 700;
    outline: none;
    border: none;
    flex: 1 1 auto;
    background-color: #0e0c1d;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px;
    -webkit-appearance: textfield;
    appearance: textfield;
    text-align: right;
}

.dbsTEZSHUS{
    margin: 0px;
    /* font-size: 18px; */
    font-weight: 600;
    color: #FFF;
    margin-right: 15px;
    justify-content: end;
    gap:10rem;
}

.uWUSIHJDFOqW {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content:space-between;
    // width: -moz-fit-content;
    // width: fit-content;
}