.Tokens__HUHSUHDLDBD{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    
}
.Tokens__UHDDOPKJFHBR{
    background-color: #0e0c1d;
    padding: 1.5rem 0;
    width: 24%;
    margin: 0.1rem 0.1rem 0.3rem 0.1rem;
    min-height: 170px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.Tokens__JD8789hIUKSJDDHL{
    margin-top:35px;
    text-align: center;
}
.Tokens__JD8789hIUKSJDDHL img {
    width: 4rem;
    margin-bottom: 1.8rem;
    opacity: 0.05;
}
.Tokens__JD8789hIDHL{
    text-align: center;
}
.Tokens__JD8789hIDHL img{
    width:3rem;
    margin-bottom:0.8rem;
}
.Tokens__IJSJPOSJBJLF{
    font-size: 1.3rem;
    text-align: center;
    margin-top:0.8rem;
}
.Tokens___JUIOPSOHD{
    font-size: 1rem;
    text-align: center;
    line-height: 1rem;
}

.OPSKIDJFSOIHDS{font-size:0.8rem;line-height: 2rem;}