.Tokens__HUHSUHDLDBD{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    
    
}

    
.Tokens__JD8789hIDHLSHUSH img{
    width:2.5rem;
    margin-bottom:0.8rem;
}
.Tokens__IJSJPOSJBJLJHUDHF{
    font-size: 1rem;
    text-align: center;
    margin-top:0.8rem;
}
.Tokens___JUIOPSOHD{
    font-size: 1rem;
    text-align: center;
    line-height: 1rem;
}


.Tokens__UHDDOPKJFHBHJUDHDR {
    background-color: #0e0c1d;
    padding: 1.5rem 0;
    width: 12%;
    margin: 0.1rem 0.1rem 0.3rem 0.1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 160px;
    
@media screen and (max-width: 600px){
    width: 30%;
}
}
.Tokens__JD8789hIDHUSHUSHSUSLSHUSH img{
    width: 4rem;
    margin-bottom: 1.8rem;
    opacity: 0.05;

}